<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txy.mybatis.mapper.UserMapper">

    <sql id="FIELDS">
        uid, account, name, phone,email
    </sql>

    <insert id="insert" parameterType="UserDTO" >
        INSERT INTO testuser (
         uid, account, name, phone,email
        ) VALUES (
          #{uid}, #{account}, #{name}, #{phone}, #{email}
        )
    </insert>

    <select id="findById" parameterType="String" resultType="UserDTO">
        SELECT  uid, account, name, phone,email FROM testuser
        WHERE uid = #{id}
    </select>

    <delete id="deleteById" parameterType="String">
        DELETE FROM testuser
        WHERE uid = #{id}
    </delete>


    <select id="selectByIds" resultType="UserDTO">
        SELECT
            <include refid="FIELDS" />
        FROM testuser
        WHERE uid IN
            <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
                #{id}
            </foreach>
    </select>


    <select id="findAll" resultType="UserDTO">
        SELECT  uid, account, name, phone,email FROM testuser
    </select>

</mapper>
